<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>XSSPreventionFilter</filter-name>
        <filter-class>org.common.xss.XSSPreventionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>XSSPreventionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CifEntryServlet</servlet-name>
        <servlet-class>Controller.CifEntryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainServletCCOD</servlet-name>
        <servlet-class>Controller.MainServletCCOD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IdenticationEntryServet</servlet-name>
        <servlet-class>Controller.IdenticationEntryServet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>Controller.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadExcelServlet</servlet-name>
        <servlet-class>Controller.UploadExcelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Controller.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet1</servlet-name>
        <servlet-class>Controller.NewServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadExcelServlet</servlet-name>
        <servlet-class>Controller.DownloadExcelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateTrickleFeedServlet</servlet-name>
        <servlet-class>Controller.GenerateTrickleFeedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PacsReportDownload</servlet-name>
        <servlet-class>Controller.PacsReportDownload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadPacsReport</servlet-name>
        <servlet-class>Controller.DownloadPacsReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GlProductOperationServlet</servlet-name>
        <servlet-class>Controller.GlProductOperationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pacsProductOperationServlet</servlet-name>
        <servlet-class>Controller.pacsProductOperationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PacsManagementServlet</servlet-name>
        <servlet-class>Controller.PacsManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PacsManagementBean</servlet-name>
        <servlet-class>DataEntryBean.PacsManagementBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountCreationServlet</servlet-name>
        <servlet-class>Controller.AccountCreationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>transactionOperationServlet</servlet-name>
        <servlet-class>Controller.transactionOperationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnquiryServlet</servlet-name>
        <servlet-class>Controller.EnquiryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GlEnquiryServlet</servlet-name>
        <servlet-class>Controller.GlEnquiryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserMaintenanceServlet</servlet-name>
        <servlet-class>Controller.UserMaintenanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeUserPasswordServlet</servlet-name>
        <servlet-class>Controller.ChangeUserPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customerEnquiryServlet</servlet-name>
        <servlet-class>Controller.customerEnquiryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cbsExtractPostingServlet</servlet-name>
        <servlet-class>Controller.cbsExtractPostingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcelReportServlet</servlet-name>
        <servlet-class>ExcelReportController.ExcelReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>interestComputationServlet</servlet-name>
        <servlet-class>Controller.interestComputationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kycCreationServlet</servlet-name>
        <servlet-class>Controller.kycCreationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SodServlet</servlet-name>
        <servlet-class>Controller.SodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jasperReportServlet</servlet-name>
        <servlet-class>JasperReportController.jasperReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mark_Unmark_NPAOperationsServlet</servlet-name>
        <servlet-class>Controller.Mark_Unmark_NPAOperationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HrmAdhocReportServlet</servlet-name>
        <servlet-class>Controller.HrmAdhocReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountRenewalServlet</servlet-name>
        <servlet-class>Controller.AccountRenewalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TradingProductOperationServlet</servlet-name>
        <servlet-class>Controller.TradingProductOperationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberEnrollmentServlet</servlet-name>
        <servlet-class>Controller.MemberEnrollmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RaiseRequisitionServlet</servlet-name>
        <servlet-class>Controller.RaiseRequisitionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PdsProductOperationServlet</servlet-name>
        <servlet-class>Controller.PdsProductOperationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pdsStockRegisterServlet</servlet-name>
        <servlet-class>Controller.pdsStockRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>purchaseDetailServlet</servlet-name>
        <servlet-class>Controller.purchaseDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tradingPurchaseOrderServlet</servlet-name>
        <servlet-class>Controller.tradingPurchaseOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TradingStockRegisterServlet</servlet-name>
        <servlet-class>Controller.TradingStockRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TradingSaleItemEntry</servlet-name>
        <servlet-class>Controller.TradingSaleItemEntry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TradingSaleRegisterServlet</servlet-name>
        <servlet-class>Controller.TradingSaleRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TradingStockTransferServlet</servlet-name>
        <servlet-class>Controller.TradingStockTransferServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssetRelocationServlet</servlet-name>
        <servlet-class>Controller.AssetRelocationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssetRegisterServlet</servlet-name>
        <servlet-class>Controller.AssetRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssetMasterServlet</servlet-name>
        <servlet-class>Controller.AssetMasterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssetEntryServlet</servlet-name>
        <servlet-class>Controller.AssetEntryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssetDisposalServlet</servlet-name>
        <servlet-class>Controller.AssetDisposalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MasterEnrollmentServlet</servlet-name>
        <servlet-class>Controller.MasterEnrollmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GPSSellRegisterServlet</servlet-name>
        <servlet-class>Controller.GPSSellRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommodityMasterServlet</servlet-name>
        <servlet-class>Controller.CommodityMasterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GovtOrderCreationServlet</servlet-name>
        <servlet-class>Controller.GovtOrderCreationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemProcurementServlet</servlet-name>
        <servlet-class>Controller.ItemProcurementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcurementRegisterServlet</servlet-name>
        <servlet-class>Controller.ProcurementRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellProcureItemServlet</servlet-name>
        <servlet-class>Controller.SellProcureItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CifEntryServlet</servlet-name>
        <url-pattern>/CifEntryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainServletCCOD</servlet-name>
        <url-pattern>/MainServletCCOD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IdenticationEntryServet</servlet-name>
        <url-pattern>/IdenticationEntryServet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadExcelServlet</servlet-name>
        <url-pattern>/UploadExcelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet1</servlet-name>
        <url-pattern>/NewServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadExcelServlet</servlet-name>
        <url-pattern>/DownloadExcelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateTrickleFeedServlet</servlet-name>
        <url-pattern>/GenerateTrickleFeedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PacsReportDownload</servlet-name>
        <url-pattern>/PacsReportDownload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadPacsReport</servlet-name>
        <url-pattern>/DownloadPacsReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GlProductOperationServlet</servlet-name>
        <url-pattern>/GlProductOperationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pacsProductOperationServlet</servlet-name>
        <url-pattern>/pacsProductOperationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PacsManagementServlet</servlet-name>
        <url-pattern>/PacsManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PacsManagementBean</servlet-name>
        <url-pattern>/PacsManagementBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountCreationServlet</servlet-name>
        <url-pattern>/AccountCreationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transactionOperationServlet</servlet-name>
        <url-pattern>/transactionOperationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnquiryServlet</servlet-name>
        <url-pattern>/EnquiryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GlEnquiryServlet</servlet-name>
        <url-pattern>/GlEnquiryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserMaintenanceServlet</servlet-name>
        <url-pattern>/UserMaintenanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeUserPasswordServlet</servlet-name>
        <url-pattern>/ChangeUserPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerEnquiryServlet</servlet-name>
        <url-pattern>/customerEnquiryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cbsExtractPostingServlet</servlet-name>
        <url-pattern>/cbsExtractPostingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcelReportServlet</servlet-name>
        <url-pattern>/ExcelReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>interestComputationServlet</servlet-name>
        <url-pattern>/interestComputationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kycCreationServlet</servlet-name>
        <url-pattern>/kycCreationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SodServlet</servlet-name>
        <url-pattern>/SodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jasperReportServlet</servlet-name>
        <url-pattern>/jasperReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mark_Unmark_NPAOperationsServlet</servlet-name>
        <url-pattern>/Mark_Unmark_NPAOperationsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HrmAdhocReportServlet</servlet-name>
        <url-pattern>/HrmAdhocReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountRenewalServlet</servlet-name>
        <url-pattern>/AccountRenewalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TradingProductOperationServlet</servlet-name>
        <url-pattern>/TradingProductOperationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberEnrollmentServlet</servlet-name>
        <url-pattern>/MemberEnrollmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RaiseRequisitionServlet</servlet-name>
        <url-pattern>/RaiseRequisitionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PdsProductOperationServlet</servlet-name>
        <url-pattern>/PdsProductOperationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pdsStockRegisterServlet</servlet-name>
        <url-pattern>/pdsStockRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>purchaseDetailServlet</servlet-name>
        <url-pattern>/purchaseDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tradingPurchaseOrderServlet</servlet-name>
        <url-pattern>/tradingPurchaseOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TradingStockRegisterServlet</servlet-name>
        <url-pattern>/TradingStockRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TradingSaleItemEntry</servlet-name>
        <url-pattern>/TradingSaleItemEntry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TradingSaleRegisterServlet</servlet-name>
        <url-pattern>/TradingSaleRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TradingStockTransferServlet</servlet-name>
        <url-pattern>/TradingStockTransferServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssetRelocationServlet</servlet-name>
        <url-pattern>/AssetRelocationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssetRegisterServlet</servlet-name>
        <url-pattern>/AssetRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssetMasterServlet</servlet-name>
        <url-pattern>/AssetMasterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssetEntryServlet</servlet-name>
        <url-pattern>/AssetEntryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssetDisposalServlet</servlet-name>
        <url-pattern>/AssetDisposalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MasterEnrollmentServlet</servlet-name>
        <url-pattern>/MasterEnrollmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GPSSellRegisterServlet</servlet-name>
        <url-pattern>/GPSSellRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommodityMasterServlet</servlet-name>
        <url-pattern>/CommodityMasterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GovtOrderCreationServlet</servlet-name>
        <url-pattern>/GovtOrderCreationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemProcurementServlet</servlet-name>
        <url-pattern>/ItemProcurementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcurementRegisterServlet</servlet-name>
        <url-pattern>/ProcurementRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellProcureItemServlet</servlet-name>
        <url-pattern>/SellProcureItemServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jdbc/conDS</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <context-param>
        <description>PACS Report Location</description>
        <param-name>pacs-report</param-name>
        <param-value>E:\PACS_REPORT</param-value>
    </context-param>
    <context-param>
        <description>PACS-CBS Extract Location</description>
        <param-name>cbs-extract</param-name>
        <param-value>E:\CBS_EXTRACT</param-value>
    </context-param>
</web-app>
